<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Backlog.app.home</title>
      <link rel="stylesheet" href="stylesheet.css">
    </head>

    <body>
      <div class="header">
        <div class="header-logo">JIZAIE</div>
          <div class="header-list">
            <ul>
              <li>
                <%= link_to("logout", "/")%>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="main">
        <div class="copy-container">
          <p>Backlog userID</p>
          <input name="user_id" size="30">
          <p>Project</p>
          <select>
            <option>プロジェクトを選択してください</option>
            <option>プロジェクト1</option>
            <option>プロジェクト2</option>
          </select>
          <p></p>
          <input type="submit" value="search">
        </div>
      </div>
    </body>

</html>
