<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backlog.app.home</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>

    <div class="header">
      
      <div class="header-logo">JIZAIE</div>
      
        <div class="header-list">
          <ul>
              <li>logout</li>
              <li>HOME</li>
              <div class="input-group">
                <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="userIDを入力"></input>
                <span class="input-group-btn input-group-append">
                  <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
                </span>
              </div>
          </ul>
        </div>
      </div>
    </div>

    <div class="main">
        <div class="copy-container">
            <p>Backlog userID:</p>
            <p>プロジェクト名:</p>
            <div class ="box_css1">
            <p>工数</p>
            </div>
            <div class ="box_css2">
            <p>マイルストーン別工数</p>
            </div>
        </div>
    </div>
  </body>
  
</html>
