<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backlog.app.home</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <!-- ここからHTMLを書き始めてください -->
    <div class="header">
      
      <div class="header-logo">JIZAIE</div>
      
      <div class="header-list">
        <ul>
          <li>ログアウト</li>
        </ul>
      </div>
    </div>

    <div class="main">
        <div class="copy-container">
            <p>Backlog userID</p>
            <p>Project</p>
        </div>
    </div>
  </body>
</html>