<!DOCTYPE html>

<div class="header">
  <div class="header-logo">JIZAIE</div>
</div>

<div class="main">
  <div class="form-body">
      <p>UserName</p>
        <input name="UserName">
      <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
  </div>
</div>


