<!DOCTYPE html>

<div class="header">
  <div class="header-logo">JIZAIE</div>
</div>

<div class="main">
  <div class="login">
    <h1>Login</h1>
      <form method="post">
       <p>user name</p>
        <input type="text" name="u" placeholder="Username" required="required" />
        <p>password</p>
          <input type="password" name="p" placeholder="Password" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
      </form>
  </div>
</div>