// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
.header {
  height: 90px;
  background-color: black;
  color: #fff;
}

.header-logo {
  font-size: 36px;
  padding: 20px 40px;
  float: left;
}

li {
  float: right;
  padding: 33px 20px;
}